*{
    box-sizing: border-box;
}
body{
    display : flex;
    justify-content : center;
    align-items : center;
    margin : 0;
    height : 100 Vh;
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;
    transition: background 0.5s linear , color 0.3s linear;
}
.toggle-container{
    position: fixed;
    top: 10px;
    right: 10px;
}
.dark{
    background: #000000;
    color: #fff;
}